<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:include="../fragments/header.html :: head">
    <title>Nutrigo</title>
</head>
<body>
<div id="main-content" class="container">
    <header th:include="../fragments/header.html :: header"></header>
    <h1>FOODS <span th:if="${portionize}">(Portionized)</span></h1>
    <a th:href="'?portionize='+${!portionize}">
        <span th:if="${!portionize}">Portionize</span>
        <span th:if="${portionize}">Unportionize</span>
    </a>
    <table class="table table-hover" data-toggle="table" data-classes="table table-hover" data-search="true">
        <thead>
        <tr>
            <th data-sortable="true">ID</th>
            <th data-sortable="true">Name</th>
            <th data-sortable="true" data-searchable="false">Propose Max</th>
            <th data-sortable="true" data-searchable="false">Daily Max</th>
            <th data-sortable="true" data-searchable="false">Kcal</th>
            <th data-sortable="true" data-searchable="false">Fat</th>
            <th data-sortable="true" data-searchable="false">Carbs</th>
            <th data-sortable="true" data-searchable="false">Protein</th>
            <th data-sortable="true" data-searchable="false">Weight</th>
            <th data-sortable="true" data-searchable="false">Serving</th>
        </tr>
        </thead>
        <tr th:each="food: ${foods}">
            <td th:text="${food.id}"></td>
            <td th:text="${food.name}"></td>
            <td><input type="number" th:value="*{food.propose}"/></td>
            <td th:text="${food.dailyMax}"></td>
            <td th:text="${#numbers.formatDecimal(food.kcal, 1, 1, 'POINT')}"></td>
            <td th:text="${#numbers.formatDecimal(food.fat, 1, 1, 'POINT')}"></td>
            <td th:text="${#numbers.formatDecimal(food.carbs, 1,1, 'POINT')}"></td>
            <td th:text="${#numbers.formatDecimal(food.protein, 1, 1, 'POINT')}"></td>
            <td th:text="${food.weight}"></td>
            <td th:text="${food.serving}"></td>
        </tr>
    </table>
</div>
</body>
</html>