<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:include="../fragments/header.html :: head">
    <title>Nutrigo</title>
</head>
<body>
<div id="main-content" class="container">
    <header th:include="../fragments/header.html :: header"></header>
    <form action="#" th:action="@{/propose}" method="post">
        <div class="row">
            <div class="col-md-2">
                <input type="number" class="form-control" name="kcal" th:value="${kcal}" placeholder="Kcal">
            </div>
            <div class="col-md-2">
                <input type="number" class="form-control" name="fat" th:value="${fat}" placeholder="Fat">
            </div>
            <div class="col-md-2">
                <input type="number" class="form-control" name="carbs" th:value="${carbs}" placeholder="Carbs">
            </div>
            <div class="col-md-2">
                <input type="number" class="form-control" name="protein" th:value="${protein}" placeholder="Protein">
            </div>
            <div class="col-md-2">
                <input type="number" class="form-control" name="meals" th:value="${meals}" placeholder="Meals>">
            </div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
    <button id="use_profile" class="btn btn-primary">Use Profile</button>


    <h1>Nutrition</h1>
    <table id="nus" class="table table-hover" data-toggle="table" data-classes="table table-hover" data-detail-view="true" data-detail-filter="detailFilter">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Kcal</th>
            <th>Fat</th>
            <th>Carbs</th>
            <th>Sugar</th>
            <th>Protein</th>
            <th>Serving</th>
        </tr>
        </thead>
        <tr th:class="${nu.getType()}" th:each="nu: ${nus}">
            <td th:text="${nu.id}"></td>
            <td th:text="${nu.name}"></td>
            <td th:text="${#numbers.formatDecimal(nu.kcal, 1, 1)}"></td>
            <td th:text="${#numbers.formatDecimal(nu.fat, 1, 1)}"></td>
            <td th:text="${#numbers.formatDecimal(nu.carbs, 1,1)}"></td>
            <td th:text="${#numbers.formatDecimal(nu.sugar, 1,1)}"></td>
            <td th:text="${#numbers.formatDecimal(nu.protein, 1, 1)}"></td>
            <td th:text="${nu.serving}"></td>
        </tr>
    </table>
</div>
<script>
    var $table = $('#nus')
    $table.on('expand-row.bs.table', function (e, index, row, $detail) {
        $detail.html('Loading foods...');
        $.get('mealxfood/' + row[0], function (res) {
            $detail.html(res);
        });
    });

    function detailFilter(index, row) {
        return row._class == "MEAL";
    }
</script>
</body>
</html>